# This is an example file. In Streamlit Cloud, add your secrets through the web interface.
# DO NOT commit actual secrets to git.

# Example structure:
# [google]
# credentials = '''
# {
#   "type": "service_account",
#   "project_id": "your-project",
#   ...
# }
# '''
